@charset "UTF-8"; 

/* 
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos com o mesmo class)
*/ 

body {
    background-color: rgb(205,255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    /*color: rgb(4, 109, 0); - feito na aula "usando id com CSS" */ 
    color: #1e402f; /* modificado na aula de diferenças entre id e class */ 
}

#principal { /* seletor personalizado */ 
    text-align: center;
    /*background-color: rgb(4, 109, 0); - feito na aula "usando id com CSS" */ 
    background-color: #3c805e; /* modificado na aula de diferenças entre id e class */ 
    color: white;
}

h2 {
   /* color: rgb(73, 109, 73); - feito na aula "usando id com CSS" */ 
    color: #3c805e; /* modificado na aula de diferenças entre id e class */ 
}

.basico { /* seletores personalizados p/ cada um  */  
    color: #3c805e;
    font-weight: bold;
}

.intermediario {
    color: #80793c;
}

.avancado {
    color: #803c3c;
}

.destaque {
    background-color: #c5c56070; 
}